body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 80px;
  background-color: orange;
}

.site-title > a {
  margin-left: 20px;
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
}

.links {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  list-style: none;
}

.links > li > a {
  display: inline-block;
  box-sizing: border-box;
  width: 140px;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  margin-inline: 5px;
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  border-inline: white 2px solid;
}

.main {
  box-sizing: border-box;
  width: 100%;
  padding: 15px 80px;
}

.menu > ul {
  list-style: none;
}

.menu > ul > li {
  margin: 4px;
}

.menu > ul > li > a {
  color: black;
  font-size: 20px;
  text-decoration: none;
}
